<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>GIDClientID</key>
		<string>881426385912-mhoomd2m5jmp4up64121jdi0g9vaprgb.apps.googleusercontent.com</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.881426385912-mhoomd2m5jmp4up64121jdi0g9vaprgb</string>
				</array>
			</dict>
		</array>
		<key>CFBundleDisplayName</key>
		<string>GoodPlace</string>
		<key>CLIENT_ID</key>
		<string>881426385912-mhoomd2m5jmp4up64121jdi0g9vaprgb.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.881426385912-mhoomd2m5jmp4up64121jdi0g9vaprgb</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>881426385912-3030f5v0500mivi676uk57i8a9r36m1r.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyCzpijtUQZHE0wzCAi0uh9Z4pTbQuEeCaY</string>
		<key>GCM_SENDER_ID</key>
		<string>881426385912</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.goodplace</string>
		<key>PROJECT_ID</key>
		<string>goodplace-firebase</string>
		<key>STORAGE_BUCKET</key>
		<string>goodplace-firebase.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:881426385912:ios:fe7e33dfe37767ad33240d</string>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
